  
.spin-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff;
  .spin-content {
    top: 40%;
    position: relative;
    .loadingspinner {
      pointer-events: none;
      width: 2.5em;
      height: 2.5em;
      border: 0.4em solid transparent;
      border-color: #eee;
      border-top-color: #000;
      border-radius: 50%;
      animation: loadingspin 1s linear infinite;
      margin: 0 auto;
    }
    h1 {
      text-align: center;
    }
  }
  @keyframes loadingspin {
    100% {
      transform: rotate(360deg);
    }
  }
}