.user-card {
    border-bottom: 1px solid #EAEAEA;
    transition: all .3s linear;
    max-width: 100%;
    .user-image {
        width: 74px;
        height: 74px;
        object-fit: cover;
        transition: all .2s linear;
    }
    .card-name {
        font-size: 14px;
        font-family: "Helvetica";
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        color: #303133;
        transition: all .3s linear;
    }
    .fading-image {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;
        opacity: 0;
        max-width: 100%;
        visibility: hidden;
    }
}

.clickedRow {
    .card-name {
        color: #06A9F6 !important;
    }
    .user-image {
        -webkit-filter: brightness(50%);
        filter: brightness(50%);
    }
    .animation {
        animation: fadeIn 1s;
        -webkit-animation: fadeIn 1s;
        -moz-animation: fadeIn 1s;
        -o-animation: fadeIn 1s;
        -ms-animation: fadeIn 1s;
        visibility: visible;
        @keyframes fadeIn {
  0% {opacity:0; }
  5% {opacity:0.05;}
  50%{opacity: 1}
  100% {opacity:0;}
}

@-moz-keyframes fadeIn {
   0% {opacity:0;}
  5% {opacity:0.05;}
  50%{opacity: 1}
  100% {opacity:0;}
}

@-webkit-keyframes fadeIn {
   0% {opacity:0;}
  5% {opacity:0.05;}
  50%{opacity: 1}
  100% {opacity:0;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
  5% {opacity:0.05;}
  50%{opacity: 1}
  100% {opacity:0;}
}

@-ms-keyframes fadeIn {
   0% {opacity:0;}
  5% {opacity:0.05;}
  50%{opacity: 1}
  100% {opacity:0;}
}
    }
    
}
